@font-face {
	font-family: 'SFUIDisplay';
	src: url('../fonts/SFUIDisplay-light.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/SFUIDisplay-light.woff') format('woff'), 
		 url('../fonts/SFUIDisplay-light.ttf')  format('truetype'), 
		 url('../fonts/SFUIDisplay-light.svg#SFUIDisplay-light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay';
	src: url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/SFUIDisplay-Regular.woff') format('woff'), 
		 url('../fonts/SFUIDisplay-Regular.ttf')  format('truetype'), 
		 url('../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay';
	src: url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/SFUIDisplay-Medium.woff') format('woff'), 
		 url('../fonts/SFUIDisplay-Medium.ttf')  format('truetype'), 
		 url('../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay';
	src: url('../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/SFUIDisplay-Semibold.woff') format('woff'), 
		 url('../fonts/SFUIDisplay-Semibold.ttf')  format('truetype'), 
		 url('../fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay';
	src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/SFUIDisplay-Bold.woff') format('woff'), 
		 url('../fonts/SFUIDisplay-Bold.ttf')  format('truetype'), 
		 url('../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}